@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.music-content {
  display: flex;
  flex-direction: row;
  height: 90px;
  align-items: center;
}

.rhap_volume-indicator {
  background: #FFFFFF !important;
}

.rhap_volume-button {
  color: #FFFFFF !important;
}

.rhap_container {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.rhap_time {
  color: #FFFFFF !important;
}

.rhap_progress-indicator {
  background: #FFFFFF !important;
}

.rhap_repeat-button {
  color: #FFFFFF !important;
}

.rhap_main-controls-button {
  color: #FFFFFF !important;
}