@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidenav {
  height: calc(100% - 120px); /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */
}

.sidenav-margin {
  margin-top: 15%;
  height: 90%;
  border-right: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.rhap_header {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
}

.music-content {
  display: flex;
  flex-direction: row;
  height: 90px;
  align-items: center;
}

.rhap_volume-indicator {
  background: #FFFFFF !important;
}

.rhap_volume-button {
  color: #FFFFFF !important;
}

.rhap_container {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.rhap_time {
  color: #FFFFFF !important;
}

.rhap_progress-indicator {
  background: #FFFFFF !important;
}

.rhap_repeat-button {
  color: #FFFFFF !important;
}

.rhap_main-controls-button {
  color: #FFFFFF !important;
}